* {
  box-sizing: border-box;
}

img {
  border-radius: 4%;
}

img:hover,
img:focus,
img:active {
  cursor: pointer;
}

.selected-rarity {
  padding: 10px;
  box-shadow: inset 0 0 12px 10px rgb(255 255 255 / 15%), 0 0 5px 3px rgb(255 255 255 / 15%);
  border-radius: 100px;
}
